@using Microsoft.AspNetCore.Http.Extensions
@{
    const string siteName = "Giant Team";
    string title = ViewData["_Title"]?.ToString() ?? siteName;
    string currentUrl = Context.Request.GetEncodedPathAndQuery();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>
    <partial name="_Importmap" />
    <link rel="stylesheet" href="~/css/blueprint-designer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
</head>
<body class="dark">

    <nav id="site-navbar">
        <div class="container w-xl">
            <a href="~/" title="Home">🏡</a>
            <h1><a href="@currentUrl">@title</a></h1>
            @if (User.Identity!.IsAuthenticated)
            {
                <a asp-page="/Profile" asp-area="" title="My profile">🧑</a>
            }
            else
            {
                <a asp-page="/Login" asp-area="" asp-route-returnUrl="@currentUrl" title="Login or join">🧑</a>
            }
        </div>
    </nav>

    <main id="site-main" class="light" role="main">
        <div class="container w-xl">
            @RenderBody()
        </div>
    </main>

    <footer id="site-footer">
        <div class="container w-xl">
            &copy; 2022 - @siteName - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>